################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Internet Speed Test/.vs/InternetSpeedTest
/Speed Test MAUI/.vs
/.vs
